*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

#box{
    width: 500px;
    height: 500px;
    justify-content: center;
    align-items: center;
    background-color: gray;
    display: flex;
}

#box1{
    width: 100px;
    height: 100px;
    background-color: red;
}

#box2{
    width: 100px;
    height: 110px;
    background-color: purple;
}

#box3{
    width: 100px;
    height: 100px;
    background-color: yellowgreen;
}